pkgbase = ovmf-git-macboot
	pkgdesc = UEFI Firmware (OVMF) with Secure Boot Support - for Virtual Machines (QEMU) - from Tianocore EDK2 - GIT Version
	pkgver = 22594.5cf459731f
	pkgrel = 1
	url = https://www.contrib.andrew.cmu.edu/~somlo/OSXKVM/
	install = ovmf.install
	arch = x86_64
	arch = i686
	license = BSD
	makedepends = git
	makedepends = python2
	makedepends = iasl
	makedepends = nasm
	provides = ovmf
	provides = ovmf-bin
	provides = ovmf-svn
	conflicts = ovmf
	conflicts = ovmf-bin
	conflicts = ovmf-svn
	noextract = openssl-1.1.0e.tar.gz
	options = !strip
	options = docs
	options = !makeflags
	source = edk2::git+https://github.com/tianocore/edk2.git#branch=master
	source = https://www.openssl.org/source/openssl-1.1.0e.tar.gz
	source = 0001-FswHfsPlus-add-File-System-Wrapper-FSW-interface-cod.patch
	source = 0002-FswHfsPlus-connect-FSW-code-to-EDK2-fix-compile-disc.patch
	source = 0003-FswHfsPlus-implement-FSW-driver-for-the-HFS-file-sys.patch
	source = 0004-EdkCompatibilityPkg-allow-ConsoleControl-protocol-to.patch
	source = 0005-OvmfPkg-add-Apple-boot-support.patch
	source = 0006-OvmfPkg-enable-AppleSupport-library-for-Ovmf-firmwar.patch
	sha1sums = SKIP
	sha1sums = 8bbbaf36feffadd3cb9110912a8192e665ebca4b
	sha1sums = 0b68a1c3079b7ef474f5929d29713a3d5e903902
	sha1sums = 924657f12aeccc799ee416e0727e770d0b6eefa7
	sha1sums = ab622fa0b5ea2ef914e1ae613f6e6f55019fdda0
	sha1sums = be67860cfd8d23f49b0335ccf301c0ac3dd20c00
	sha1sums = 2ae8d6794c859c624c7588c9d103d924535d8b4d
	sha1sums = 7b1ea5fd02ad6b0f1b22855b6be0972f1c9732aa

pkgname = ovmf-git-macboot

